html { overflow-y: hidden; }

.btn-relay{
    display: inline-block;
    margin-right: 1.6em;
    margin-left: 1.6em;
    width: 80px;
    display: inline-block;
    transform:rotate(-90deg);
}

.btn-relay-mobile{
    display: inline-block;
    margin-right: 1.6em;
    margin-left: 1.6em;
    width: 75px;
    display: inline-block;
    transform:rotate(-90deg);
}

